# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Sniff this file': 'php-checkstyle:sniff-this-file',
      'Fix this file': 'php-checkstyle:fix-this-file'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PHP Checkstyle'
      'submenu': [
        { 'label': 'Sniff this file', 'command': 'php-checkstyle:sniff-this-file' },
        { 'label': 'Fix this file', 'command': 'php-checkstyle:fix-this-file' }
      ]
    ]
  }
]
